<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ asset("./css/styles.css") }}">
</head>
<body>
<div class="navbar">
    <div class="container">
        <div class="title">
            <p>Mon Portfolio 3D</p>
        </div>
        <nav>
            <ul class="mcd-menu">
                <li>
                    <a href="" class="active home">
                        <i class="fa fa-home"></i>
                        <strong>Home</strong>
                        <small>sweet home</small>
                    </a>
                </li>
                <li>
                    <a href="" class="active">
                        <i class="fa fa-edit"></i>
                        <strong>About Me</strong>
                        <small>sweet home</small>
                    </a>
                </li>
                <li>
                    <a href="" class="active">
                        <i class="fa fa-picture-o"></i>
                        <strong>Portfolio</strong>
                        <small>sweet home</small>
                    </a>
                </li>
                <li>
                    <a href="" class="active">
                        <i class="fa fa-envelope-o"></i>
                        <strong>Contacts</strong>
                        <small>drop a line</small>
                    </a>
                </li>
                <li class="float">
                    <a class="search active" >
                        <input type="text" value="search ...">
                        <button><i class="fa fa-search"></i></button>
                    </a>
                    <a href="" class="search-mobile">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>